extends ./layout.jade
block contenido

        h1 Arquitetura Web
    
        form(action="/init" method="POST")
            div( class="col-md-8 remove-float center-block text-center big-top-space")
                label(for="email") Email: 
                input(type="text" placeholder="e-mail" id="email" name="email") 
            div( class="col-md-8 remove-float center-block text-center top-space")
                label(for="password") Password: 
                input(type="password" placeholder="password" id="password" name="password") 
            div( class="col-md-8 remove-float center-block text-center top-space")
                
                input(type="submit" value="Iniciar Sesion" class="btn btn-info")

           
        form(action="/creations" method="GET")
            div( class="col-md-8 remove-float center-block text-center top-space right-space-form") 
                input(type="submit" value="Crear nuevo usuario" class="btn btn-info")
        form(action="/test" method="GET")
            div( class="col-md-8 remove-float center-block text-center top-space right-space-form") 
                input(type="submit" value="TEST" class="btn btn-info")
