doctype html
html(lang=es)
    head
        title Arquitectura Web
        meta(charset="utf-8")
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet")
        link(rel="stylesheet", href="/css/index.css")
    body
        block contenido